@page "/category"
@inject ILogger<Category> logger;
@inject ICategoryService categoryService;

<PageTitle>Categories</PageTitle>

<ModuleTitle Title="Categories"/>

@if (categories?.Count > 0)
{
    <div class="categories-container">
        @foreach (var category in categories)
        {
            <div class="card">
                <img class="card-img-top" src="@category.image" alt="Category" loading="lazy" width="270">
                <div class="card-body">
                    <h4><b>@category.name</b></h4>
                </div>
            </div>
        }
    </div>
} else {
    <p>No categories to show.</p>
}

@code{
    private List<Category> categories = new List<Category>();

    protected override async Task OnInitializedAsync()
    {
        categories = await GetCategories();
    }

    private async Task<List<Category>> GetCategories() {
        return await categoryService.GetAll()??new List<Category>();
    }
}